// h2,label{
//   font-size:2vw;
// }

#loginDiv{
  margin-left: 50%;
  margin-top: 8%;

}
.jumbotron{ background-color: white;}
#header{
  text-align: center;
  font-size: 2rem;
}
label{
  font-size: 1.7rem;
}
button, input{
  font-size: 1.5rem;
}
