<div>
  <h2>Cohort Charts</h2>
  <!-- this is only in case we ant the upload information in the graphs -->
  <!-- <ng5-slider [(value)]="userInput" [options]="options" (input)="onUpdateServerName($event)"></ng5-slider>
<br> -->
  <form [formGroup]="cohortService.queryGraphs">
    <!-- <div *ngIf="showChartOptionalInputs && hideNewCohortButton">
      <div class="numberCircle">1</div><label>Select a cohort: </label>
      <br>
      <button (click)="hideSelectCohort = true; hideNewCohortButton= false; hideInputsAndChart()"
        class="btn btn-primary">
        New cohort 
      </button>
      <br>
      <br>
    </div> -->
    <div *ngIf="hideSelectCohort" >
      <div class="numberCircle">1</div><label>Select a cohort: </label>
      <div>
      <div class="form-group">

        <!-- <label *ngIf="studentType" for="universityName">Student type</label> -->
        <select formControlName="studentType" class="form-control" (change)="cohortService.getYearTerm($event); hideInputsAndChart();"
          [(ngModel)]="cohortService.cohort.studentType">
          <option hidden value="" >- Student type -</option>
          <option *ngFor="let type of this.cohortService.studentTypeArr">{{type}}
          </option>
        </select>
        <!-- <div *ngIf="submitted && f.studentType.errors" class="invalid-feedback">
          <div *ngIf="f.studentType.errors.required">University is required</div>
      </div> -->
      </div>
      <div class="form-group">
        <!-- <label *ngIf="studentType" for="universityName">Student type</label> -->
        <select *ngIf="cohortService.cohort.studentType" [disabled]="cohortService.cohort.studentType" formControlName="yearTerm"
          class="form-control" (change)="cohortService.getAcademicLabel($event); hideInputsAndChart();" [(ngModel)]="cohortService.cohort.cohortYear">
          <option hidden value="" >- Year term -</option>
          <option *ngFor="let year of cohortService.cohortYearArr">{{year}}
          </option>
        </select>
        <!-- <div *ngIf="submitted && f.academicLabel.errors" class="invalid-feedback">
        <div *ngIf="f.academicLabel.errors.required">University is required</div>
    </div> -->
      </div>
      <div class="form-group">
        <!-- <label  *ngIf="studentTypeSelected" for="collegeName">Year term</label> -->
        <select *ngIf="cohortService.cohort.cohortYear" [disabled]="cohortService.cohort.cohortYear" formControlName="academicLabel"
          class="form-control" (change)="cohortService.getAcademicType($event); hideInputsAndChart();" [(ngModel)]="cohortService.cohort.academicLabel">
          <option hidden value="">- Academic label -</option>
          <option *ngFor="let label of cohortService.academicLabelArr">{{label}}
          </option>
        </select>
        <!-- <div *ngIf="submitted && f.yearTerm.errors" class="invalid-feedback">
          <div *ngIf="f.yearTerm.errors.required">College is required</div>
      </div> -->
      </div>

      <div class="form-group" id="scrollToView">
        <!-- <label *ngIf="cohortYearSelected" for="departmentName">Academic type</label> -->
        <select *ngIf="cohortService.cohort.academicLabel" [disabled]="cohortService.cohort.academicLabel" formControlName="academicType"
          class="form-control"  (change)="hideInputsAndChart();" [(ngModel)]="cohortService.cohort.academicType">
          <option hidden value="">- Academic type -</option>
          <option *ngFor="let cohortAcademic of cohortService.cohortAcademicTypeArr">{{cohortAcademic}}
          </option>
        </select>
      </div>
        <!-- <div *ngIf="submitted && f.academicTypeF.errors" class="invalid-feedback">
          <div *ngIf="f.academicType.errors.required">Department is required</div>
      </div> -->
      </div>
      <div class="form-group">
        <button *ngIf="cohortService.cohort.academicType" (click)=" getGraphArr(userInput); hideInputsAndChart();"
          [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Get charts
        </button>
      </div>
    </div>
  </form>

</div>
<div *ngIf="showChartOptionalInputs" >

  <div  class="numberCircle">2</div><label>Manipulate the cohort: </label>
  <br>
  <label for="">Number of Students:</label>
  <ng5-slider [(value)]="userInput" [options]="options" (input)="onUpdateSlider($event)"></ng5-slider>
  <br>
  <br>
  <!-- TODO: make sure to output warning message -->
  <label for="">Greek Letters:</label>
  <div class="input-group col-sm-12">
    <label>σ:&nbsp;</label>
    <input value={{sigma}} type="text" style = "width: 9%;" placeholder={{sigma}} [(ngModel)]="sigma" />
    <label>&nbsp;&nbsp;&nbsp;α:&nbsp;</label>
    <input value={{alpha}} type="text"  style = "width: 9%;"placeholder={{alpha}} [(ngModel)]="alpha" />
    <label>&nbsp;&nbsp;&nbsp;β:&nbsp;</label>
    <input value={{beta}}    type="text" style = "width: 9%;"placeholder={{beta}} [(ngModel)]="beta" />
  </div>
  <br>
  <button (click)="getCohort($event)" class="btn btn-primary">
    Edit cohort
  </button>
  <br>
  <br>
  <label >Steady state (p):</label>&nbsp;
  <br>
  <p class="btn-switch">
    <input (change)="getCohort($event.target.value)"  checked="checked" type="radio" id="yes" name="switch" class="btn-switch__radio btn-switch__radio_yes"value="True" [(ngModel)]="steadyState" />
    <input  (change)="getCohort($event.target.value)" type="radio" checked id="no" name="switch" class="btn-switch__radio btn-switch__radio_no" value="False" [(ngModel)]="steadyState">
    <label for="yes" class="btn-switch__label btn-switch__label_yes"><span class="btn-switch__txt">On</span></label>
    <label for="no" class="btn-switch__label btn-switch__label_no"><span class="btn-switch__txt">Off</span></label>
  </p>
</div>
<!-- displays the demograph -->
<!-- <button class="btn btn-primary" (click)="getGraph()">Create Graph
</button> -->

<div class="canvas-container">
 <canvas class="cv" id="canvas1"> </canvas>
 <canvas class="cv" id="canvas2"></canvas>
</div>
<br>
<div class="canvas-container">
  <canvas class="cv" id="canvas3"></canvas>
  <canvas class="cv" id="canvas4"></canvas>
</div>
<!-- for future use if needed -->
<!-- <div class="canvas-container">
  <canvas class ="cv"  id="canvas5" ></canvas>
  <canvas class ="cv"  id="canvas6"></canvas>
</div> -->
<!-- <div class="canvas-container">
  <canvas class ="cv"  id="canvas7" ></canvas>
  <canvas class ="cv"  id="canvas8"></canvas>

</div> -->
<br>
<br>
<br>
<!-- this will load the description of the graphs displayed above -->
<!-- <pre>{{this.description_temp}}</pre> -->
