<p>
  Charts:
</p>

<style>
.div{
   display:inline-block;
}
canvas{
       display:inline-block;}
</style>
<script>this.getGraph();
</script>
Incoming Students: <input type="text" class ="form-control" (input)="onUpdateServerName($event)" style="width: 200px;"/>
<!-- <br> -->
<!-- <p>{{userInput}}</p> -->
<!-- the following button works -->
<!-- <button class="btn btn-primary" (click)="getGraphTest(userInput)">create Graph
</button> -->
<br>
<button class="btn btn-primary" (click)="getGraph()">Create Graph
</button>

<div style="width: 50%" >
  <canvas id="canvas"width="200" height="200"></canvas>
</div>
<div style="width: 50%">
    <canvas id="canvas1"width="200" height="200"></canvas>
</div>
