<p>
  Charts:
</p>

<!-- Incoming Students: <input type="text" class ="form-control" (input)="onUpdateServerName($event)" style="width: 200px;"/>
<br> -->
<!-- <p>{{userInput}}</p> -->

<!-- slider -->
<ng5-slider [(value)]="userInput" [options]="options" (input)="onUpdateServerName($event)"></ng5-slider>
<br>

<button class="btn btn-primary" (click)="getGraphArr(userInput)">Create Graph
</button>
<!-- displays the demograph -->
<!-- <button class="btn btn-primary" (click)="getGraph()">Create Graph
</button> -->

<div class="canvas-container">
  <canvas class ="cv"  id="canvas1"></canvas>
  <canvas class ="cv"  id="canvas2"></canvas>
</div>
<div class="canvas-container">
  <canvas class ="cv"  id="canvas3" ></canvas>
  <canvas class ="cv"  id="canvas4"></canvas>
</div>
