.navbar{
  display: inline-block;
  width: 100%;
  padding-left:  35px;

}
html, body {
    margin: 0;
    height: 100%;
    width:100%;
    font-size:1.3vw;
}
.navbar-nav {
      flex-direction: row;
      margin: 7.5px;
}
.navbar-nav .nav-link {
    padding-right: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.85);
}
