<!-- nav -->
<!-- *ngIf="currentUser" shows content only if users id logged in -->
<title>CSU Seer</title>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" >Home</a>
        <a class="nav-item nav-link" routerLink="/charts">Charts</a>
        <a class="nav-item nav-link" routerLink="/register" *ngIf="this.authenticationService.isProvider">Invite user</a>
        <a class="nav-item nav-link" routerLink="/uploadView" *ngIf="this.authenticationService.isProvider">Upload data</a>
        <a class="nav-item nav-link" routerLink="/profile">Profile</a>
        <a class="nav-item nav-link" routerLink="/login"(click)="logout()">Logout</a>
    </div>
</nav>
<!-- main content container -->
<div class="jumbotron">
    <div class="container">
        <div class="row" >
            <div class="col-sm-8">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
</body>
<!-- bootstrap css -->
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
